In [191]:
import pandas as pd

In [192]:
#creating a function to get avg mobility score per segment by country

In [193]:
ger = pd.read_excel('./data/Transportation/apple_mobility_Germany.xlsx')

In [194]:
ger.head()

,Value,Date,Super Region,Sub Region,Unit,Geography Type,Source,Sub-Sector,Frequency,Region,Country,Transportation Type
0,81.14,2021-01-24,GLOBAL DATA,NORTH RHINE-WESTPHALIA,INDEX,CITY,"APPLE, INC.",APPLE MOBILITY INDEX,DAILY,AACHEN,GERMANY,WALKING
1,127.55,2020-08-07,GLOBAL DATA,NORTH RHINE-WESTPHALIA,INDEX,CITY,"APPLE, INC.",APPLE MOBILITY INDEX,DAILY,AACHEN,GERMANY,WALKING
2,88.19,2021-01-25,GLOBAL DATA,NORTH RHINE-WESTPHALIA,INDEX,CITY,"APPLE, INC.",APPLE MOBILITY INDEX,DAILY,AACHEN,GERMANY,WALKING
3,135.66,2020-08-06,GLOBAL DATA,NORTH RHINE-WESTPHALIA,INDEX,CITY,"APPLE, INC.",APPLE MOBILITY INDEX,DAILY,AACHEN,GERMANY,WALKING
4,83.67,2021-01-22,GLOBAL DATA,NORTH RHINE-WESTPHALIA,INDEX,CITY,"APPLE, INC.",APPLE MOBILITY INDEX,DAILY,AACHEN,GERMANY,WALKING

In [195]:
ger['Transportation Type'].value_counts()

WALKING    13968
DRIVING    13940
TRANSIT     7398
Name: Transportation Type, dtype: int64

In [196]:
#split df by transportatino type
ger_walk = ger[ger['Transportation Type']=='WALKING'].copy()
ger_drive = ger[ger['Transportation Type']=='DRIVING'].copy()
ger_trans = ger[ger['Transportation Type']=='TRANSIT'].copy()

In [197]:
ger_list = [ger_walk, ger_drive, ger_trans]
print([df['Transportation Type'].value_counts() for df in ger_list]) #confirm split

[WALKING    13968
Name: Transportation Type, dtype: int64, DRIVING    13940
Name: Transportation Type, dtype: int64, TRANSIT    7398
Name: Transportation Type, dtype: int64]

In [198]:
#do same split on india and russia combined data sets
ind = pd.read_excel('./data/Transportation/apple_mobility_India.xlsx')
rus = pd.read_excel('./data/Transportation/apple_mobility_Russia.xlsx')

In [199]:
ind.head() #preview

,Value,Date,Sub-Sector,Super Region,Frequency,Region,Country,Unit,Geography Type,Transportation Type,Source
0,169.42,2021-01-24,APPLE MOBILITY INDEX,GLOBAL DATA,DAILY,PUNE,INDIA,INDEX,CITY,WALKING,"APPLE, INC."
1,59.76,2020-08-07,APPLE MOBILITY INDEX,GLOBAL DATA,DAILY,PUNE,INDIA,INDEX,CITY,WALKING,"APPLE, INC."
2,151.99,2021-01-25,APPLE MOBILITY INDEX,GLOBAL DATA,DAILY,PUNE,INDIA,INDEX,CITY,WALKING,"APPLE, INC."
3,52.89,2020-08-06,APPLE MOBILITY INDEX,GLOBAL DATA,DAILY,PUNE,INDIA,INDEX,CITY,WALKING,"APPLE, INC."
4,168.03,2021-01-22,APPLE MOBILITY INDEX,GLOBAL DATA,DAILY,PUNE,INDIA,INDEX,CITY,WALKING,"APPLE, INC."

In [200]:
ind['Transportation Type'].value_counts() #only 2 types in this set

WALKING    2460
DRIVING    2460
Name: Transportation Type, dtype: int64

In [201]:
rus.head() #preview

,Value,Date,Super Region,Sub Region,Unit,Geography Type,Source,Sub-Sector,Frequency,Region,Country,Transportation Type
0,97.32,2021-01-24,GLOBAL DATA,ROSTOV OBLAST,INDEX,CITY,"APPLE, INC.",APPLE MOBILITY INDEX,DAILY,ROSTOV-ON-DON,RUSSIA,DRIVING
1,145.53,2020-08-07,GLOBAL DATA,ROSTOV OBLAST,INDEX,CITY,"APPLE, INC.",APPLE MOBILITY INDEX,DAILY,ROSTOV-ON-DON,RUSSIA,DRIVING
2,100.74,2021-01-25,GLOBAL DATA,ROSTOV OBLAST,INDEX,CITY,"APPLE, INC.",APPLE MOBILITY INDEX,DAILY,ROSTOV-ON-DON,RUSSIA,DRIVING
3,143.25,2020-08-06,GLOBAL DATA,ROSTOV OBLAST,INDEX,CITY,"APPLE, INC.",APPLE MOBILITY INDEX,DAILY,ROSTOV-ON-DON,RUSSIA,DRIVING
4,99.27,2021-01-22,GLOBAL DATA,ROSTOV OBLAST,INDEX,CITY,"APPLE, INC.",APPLE MOBILITY INDEX,DAILY,ROSTOV-ON-DON,RUSSIA,DRIVING

In [202]:
rus['Transportation Type'].value_counts() #only 2 types in this set

WALKING    1640
DRIVING    1640
Name: Transportation Type, dtype: int64

In [203]:
ind_walk = ind[ind['Transportation Type']=='WALKING'].copy()
ind_drive =ind[ind['Transportation Type']=='DRIVING'].copy()
rus_walk = rus[rus['Transportation Type']=='WALKING'].copy()
rus_drive = rus[rus['Transportation Type']=='DRIVING'].copy()

In [204]:
#read in other country data (already sorted by type)
us_walk = pd.read_excel('./data/Transportation/apple_mobility_US_Walking.xlsx')
us_drive = pd.read_excel('./data/Transportation/apple_mobility_US_Driving.xlsx')
us_trans = pd.read_excel('./data/Transportation/apple_mobility_US_Transit.xlsx')

jap_walk = pd.read_excel('./data/Transportation/apple_mobility_Japan_Walking.xlsx')
jap_drive = pd.read_excel('./data/Transportation/apple_mobility_Japan_Driving.xlsx')
jap_trans = pd.read_excel('./data/Transportation/apple_mobility_Japan_Transit.xlsx')

In [205]:
ger_walk.head() #preview

,Value,Date,Super Region,Sub Region,Unit,Geography Type,Source,Sub-Sector,Frequency,Region,Country,Transportation Type
0,81.14,2021-01-24,GLOBAL DATA,NORTH RHINE-WESTPHALIA,INDEX,CITY,"APPLE, INC.",APPLE MOBILITY INDEX,DAILY,AACHEN,GERMANY,WALKING
1,127.55,2020-08-07,GLOBAL DATA,NORTH RHINE-WESTPHALIA,INDEX,CITY,"APPLE, INC.",APPLE MOBILITY INDEX,DAILY,AACHEN,GERMANY,WALKING
2,88.19,2021-01-25,GLOBAL DATA,NORTH RHINE-WESTPHALIA,INDEX,CITY,"APPLE, INC.",APPLE MOBILITY INDEX,DAILY,AACHEN,GERMANY,WALKING
3,135.66,2020-08-06,GLOBAL DATA,NORTH RHINE-WESTPHALIA,INDEX,CITY,"APPLE, INC.",APPLE MOBILITY INDEX,DAILY,AACHEN,GERMANY,WALKING
4,83.67,2021-01-22,GLOBAL DATA,NORTH RHINE-WESTPHALIA,INDEX,CITY,"APPLE, INC.",APPLE MOBILITY INDEX,DAILY,AACHEN,GERMANY,WALKING

In [206]:
#function to properly sort dfs and join them
def process_mobility_df(df):
    pd.to_datetime(df['Date']) #convert date from object
    df.sort_values(by='Date', inplace=True) #sort df by date
    new_df = pd.DataFrame(df.groupby('Date')['Value'].mean()).copy() #create new df sorted by date
    #new_df.set_index(new_df['Date'], inplace=True)
    return new_df

In [207]:
mobility = process_mobility_df(ger_walk) #test

In [208]:
mobility.rename(columns={'Value':'Value_ger_walk'}, inplace=True)

In [209]:
mobility

            Value_ger_walk
Date
2020-01-13      100.000000
2020-01-14      103.183824
2020-01-15      106.456471
2020-01-16      109.984118
2020-01-17      123.211176
...                    ...
2021-02-23       97.873235
2021-02-24      101.482353
2021-02-25      100.442353
2021-02-26       92.082941
2021-02-27       94.920294

[412 rows x 1 columns]

In [210]:
df_list = [ger_drive, ger_trans, #does not include ger_walk because that is the base of the "mobility" dataframe that we will be adding to
          ind_walk, ind_drive,
          rus_walk, rus_drive,
          us_walk, us_drive, us_trans,
          jap_walk, jap_drive, jap_trans] #list of all dfs to manipulate and join

In [211]:
column_names = ['ger_drive', 'ger_trans', #list of column names to use in the new mobility df
               'ind_walk', 'ind_drive',
               'rus_walk', 'rus_drive',
               'us_walk', 'us_drive', 'us_trans',
               'jap_walk', 'jap_drive', 'jap_trans']

In [212]:
for n in range(len(df_list)):
    mobility = mobility.join(process_mobility_df(df_list[n]), on = 'Date', how='outer', lsuffix='', rsuffix=f'_{column_names[n]}')
    #mobility = pd.merge(left=mobility, right=process_mobility_df(df), how='outer', suffixes=('', f'_{df}'))
   # mobility.merge(process_mobility_df(df), on = 'index', how = 'outer', suffixes=f'_{df}')

In [213]:
mobility

,Value_ger_walk,Value,Value_ger_trans,Value_ind_walk,Value_ind_drive,Value_rus_walk,Value_rus_drive,Value_us_walk,Value_us_drive,Value_us_trans,Value_jap_walk,Value_jap_drive,Value_jap_trans
Date,,,,,,,,,,,,,
2020-01-13,100.000000,100.000000,100.000000,100.000000,100.000000,100.0000,100.0000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
2020-01-14,103.183824,100.824118,100.482778,98.036667,97.018333,103.6425,100.5600,101.940784,103.007547,99.727907,100.745745,99.272340,100.258511
2020-01-15,106.456471,102.264706,99.780000,100.060000,96.381667,102.9575,101.9925,101.752353,104.364528,98.963256,104.023191,100.096596,101.187447
2020-01-16,109.984118,104.645882,100.437778,101.966667,101.233333,108.3575,104.2175,102.251373,107.985849,99.501860,114.933830,104.993617,108.546383
2020-01-17,123.211176,114.010294,108.340000,110.888333,115.590000,110.8375,108.7100,121.800784,122.748868,105.785814,152.478723,130.354468,133.495532
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-02-23,97.873235,84.882647,135.176111,142.736667,123.536667,87.9200,85.9750,123.046667,113.270755,62.286279,132.853617,119.534894,105.554043
2021-02-24,101.482353,87.262647,136.272222,144.465000,126.061667,97.5275,100.7775,127.957451,117.192264,63.974884,143.045957,121.992553,108.229362
2021-02-25,100.442353,87.460588,133.856111,138.656667,119.348333,115.1050,109.7300,131.530588,121.559245,64.381163,125.468723,117.577872,103.360426
2021-02-26,92.082941,88.633824,129.355000,149.380000,131.966667,122.7575,114.6300,160.454902,142.369623,68.913488,140.038511,139.357021,117.765532
2021-02-27,94.920294,82.352941,124.637222,165.546667,151.615000,123.1400,106.6200,171.763333,140.332453,66.843256,150.516809,144.846596,122.074468

In [214]:
mobility.rename(columns={'Value':'Value_ger_drive'}, inplace=True)

In [215]:
mobility #preview

,Value_ger_walk,Value_ger_drive,Value_ger_trans,Value_ind_walk,Value_ind_drive,Value_rus_walk,Value_rus_drive,Value_us_walk,Value_us_drive,Value_us_trans,Value_jap_walk,Value_jap_drive,Value_jap_trans
Date,,,,,,,,,,,,,
2020-01-13,100.000000,100.000000,100.000000,100.000000,100.000000,100.0000,100.0000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
2020-01-14,103.183824,100.824118,100.482778,98.036667,97.018333,103.6425,100.5600,101.940784,103.007547,99.727907,100.745745,99.272340,100.258511
2020-01-15,106.456471,102.264706,99.780000,100.060000,96.381667,102.9575,101.9925,101.752353,104.364528,98.963256,104.023191,100.096596,101.187447
2020-01-16,109.984118,104.645882,100.437778,101.966667,101.233333,108.3575,104.2175,102.251373,107.985849,99.501860,114.933830,104.993617,108.546383
2020-01-17,123.211176,114.010294,108.340000,110.888333,115.590000,110.8375,108.7100,121.800784,122.748868,105.785814,152.478723,130.354468,133.495532
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-02-23,97.873235,84.882647,135.176111,142.736667,123.536667,87.9200,85.9750,123.046667,113.270755,62.286279,132.853617,119.534894,105.554043
2021-02-24,101.482353,87.262647,136.272222,144.465000,126.061667,97.5275,100.7775,127.957451,117.192264,63.974884,143.045957,121.992553,108.229362
2021-02-25,100.442353,87.460588,133.856111,138.656667,119.348333,115.1050,109.7300,131.530588,121.559245,64.381163,125.468723,117.577872,103.360426
2021-02-26,92.082941,88.633824,129.355000,149.380000,131.966667,122.7575,114.6300,160.454902,142.369623,68.913488,140.038511,139.357021,117.765532
2021-02-27,94.920294,82.352941,124.637222,165.546667,151.615000,123.1400,106.6200,171.763333,140.332453,66.843256,150.516809,144.846596,122.074468

In [216]:
mobility.isnull().sum()

Value_ger_walk     0
Value_ger_drive    2
Value_ger_trans    0
Value_ind_walk     2
Value_ind_drive    2
Value_rus_walk     2
Value_rus_drive    2
Value_us_walk      0
Value_us_drive     2
Value_us_trans     0
Value_jap_walk     0
Value_jap_drive    2
Value_jap_trans    0
dtype: int64

In [217]:
#only 14 null values - going to drop them
mobility.dropna(inplace=True)

In [218]:
mobility.isnull().sum().sum() #verify

0

In [219]:
mobility

,Value_ger_walk,Value_ger_drive,Value_ger_trans,Value_ind_walk,Value_ind_drive,Value_rus_walk,Value_rus_drive,Value_us_walk,Value_us_drive,Value_us_trans,Value_jap_walk,Value_jap_drive,Value_jap_trans
Date,,,,,,,,,,,,,
2020-01-13,100.000000,100.000000,100.000000,100.000000,100.000000,100.0000,100.0000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
2020-01-14,103.183824,100.824118,100.482778,98.036667,97.018333,103.6425,100.5600,101.940784,103.007547,99.727907,100.745745,99.272340,100.258511
2020-01-15,106.456471,102.264706,99.780000,100.060000,96.381667,102.9575,101.9925,101.752353,104.364528,98.963256,104.023191,100.096596,101.187447
2020-01-16,109.984118,104.645882,100.437778,101.966667,101.233333,108.3575,104.2175,102.251373,107.985849,99.501860,114.933830,104.993617,108.546383
2020-01-17,123.211176,114.010294,108.340000,110.888333,115.590000,110.8375,108.7100,121.800784,122.748868,105.785814,152.478723,130.354468,133.495532
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-02-23,97.873235,84.882647,135.176111,142.736667,123.536667,87.9200,85.9750,123.046667,113.270755,62.286279,132.853617,119.534894,105.554043
2021-02-24,101.482353,87.262647,136.272222,144.465000,126.061667,97.5275,100.7775,127.957451,117.192264,63.974884,143.045957,121.992553,108.229362
2021-02-25,100.442353,87.460588,133.856111,138.656667,119.348333,115.1050,109.7300,131.530588,121.559245,64.381163,125.468723,117.577872,103.360426
2021-02-26,92.082941,88.633824,129.355000,149.380000,131.966667,122.7575,114.6300,160.454902,142.369623,68.913488,140.038511,139.357021,117.765532
2021-02-27,94.920294,82.352941,124.637222,165.546667,151.615000,123.1400,106.6200,171.763333,140.332453,66.843256,150.516809,144.846596,122.074468

In [221]:
#mobility.to_csv('apple_mobility_top5countries.csv')