In [142]:
import pandas as pd

In [143]:
target = pd.read_excel('./data/Financial_Market/NYSE_closing_price.xlsx')

In [144]:
sentNA = pd.read_csv('./data/News_AI_Sentiments/daily-news-sentiment-NA.csv')

In [145]:
sentINT = pd.read_csv('./data/News_AI_Sentiments/daily-news-sentiment-international.csv')

In [146]:
#preview
target.head()

,Value,Date,Super Region,Ticker,Time Level,Source,Stock Name,Sub-Sector,Stock Attribute,Currency,Data Provider,Stock Exchange,Location
0,36.67,2020-08-07,GLOBAL DATA,MPC,DAILY,WORLDDATA.AI,MARATHON PETROLEUM CORPORATION,GLOBAL STOCK EXCHANGE DATA,CLOSING PRICE,USD,NEW YORK STOCK EXCHANGE,NEW YORK STOCK EXCHANGE - STOCK PRICES,AMERICA-NEW_YORK
1,67.68,2018-03-07,GLOBAL DATA,MPC,DAILY,WORLDDATA.AI,MARATHON PETROLEUM CORPORATION,GLOBAL STOCK EXCHANGE DATA,CLOSING PRICE,USD,NEW YORK STOCK EXCHANGE,NEW YORK STOCK EXCHANGE - STOCK PRICES,AMERICA-NEW_YORK
2,46.23,2021-01-25,GLOBAL DATA,MPC,DAILY,WORLDDATA.AI,MARATHON PETROLEUM CORPORATION,GLOBAL STOCK EXCHANGE DATA,CLOSING PRICE,USD,NEW YORK STOCK EXCHANGE,NEW YORK STOCK EXCHANGE - STOCK PRICES,AMERICA-NEW_YORK
3,35.73,2020-08-06,GLOBAL DATA,MPC,DAILY,WORLDDATA.AI,MARATHON PETROLEUM CORPORATION,GLOBAL STOCK EXCHANGE DATA,CLOSING PRICE,USD,NEW YORK STOCK EXCHANGE,NEW YORK STOCK EXCHANGE - STOCK PRICES,AMERICA-NEW_YORK
4,67.39,2018-03-06,GLOBAL DATA,MPC,DAILY,WORLDDATA.AI,MARATHON PETROLEUM CORPORATION,GLOBAL STOCK EXCHANGE DATA,CLOSING PRICE,USD,NEW YORK STOCK EXCHANGE,NEW YORK STOCK EXCHANGE - STOCK PRICES,AMERICA-NEW_YORK

In [147]:
target['Stock Name'].value_counts()

MARATHON OIL CORPORATION             1000
CONOCOPHILLIPS                       1000
PIONEER NATURAL RESOURCES COMPANY    1000
EXXON MOBIL CORPORATION              1000
OCCIDENTAL PETROLEUM CORPORATION     1000
PHILLIPS 66                          1000
VALERO ENERGY CORPORATION            1000
BP P.L.C.                            1000
CHEVRON CORPORATION                  1000
MARATHON PETROLEUM CORPORATION       1000
Name: Stock Name, dtype: int64

In [148]:
target.dtypes

Value              float64
Date                object
Super Region        object
Ticker              object
Time Level          object
Source              object
Stock Name          object
Sub-Sector          object
Stock Attribute     object
Currency            object
Data Provider       object
Stock Exchange      object
Location            object
dtype: object

In [149]:
target['Date'] = pd.to_datetime(target['Date'])

In [150]:
target.dtypes

Value                     float64
Date               datetime64[ns]
Super Region               object
Ticker                     object
Time Level                 object
Source                     object
Stock Name                 object
Sub-Sector                 object
Stock Attribute            object
Currency                   object
Data Provider              object
Stock Exchange             object
Location                   object
dtype: object

In [151]:
#keep only Exxon prices
target = target[target['Stock Name'] == 'EXXON MOBIL CORPORATION'].copy()

In [152]:
target.shape

(1000, 13)

In [153]:
target.columns

Index(['Value', 'Date', 'Super Region', 'Ticker', 'Time Level', 'Source',
       'Stock Name', 'Sub-Sector', 'Stock Attribute', 'Currency',
       'Data Provider', 'Stock Exchange', 'Location'],
      dtype='object')

In [154]:
target['Date'].value_counts() #confirming only a single date now for each row

2017-10-30    1
2017-08-31    1
2020-07-14    1
2018-04-02    1
2018-04-16    1
             ..
2019-11-04    1
2019-06-04    1
2017-08-16    1
2020-11-25    1
2020-02-11    1
Name: Date, Length: 1000, dtype: int64

In [155]:
exxon = target[['Date', 'Value']]

In [156]:
exxon.reset_index(inplace=True)

In [157]:
exxon = exxon[['Date', 'Value']].copy()

In [158]:
exxon

          Date  Value
0   2020-08-07  43.44
1   2018-03-07  74.26
2   2021-01-25  46.90
3   2020-08-06  43.64
4   2018-03-06  76.18
..         ...    ...
995 2019-07-05  76.13
996 2019-07-08  76.48
997 2018-07-20  81.40
998 2019-07-09  76.43
999 2017-07-31  80.04

[1000 rows x 2 columns]

In [159]:
exxon = exxon.sort_values(by='Date') #range of dates

In [160]:
exxon.reset_index(inplace=True) #match index numbers to order of dates
exxon = exxon[['Date', 'Value']].copy()
exxon

          Date  Value
0   2017-02-28  81.32
1   2017-03-01  83.02
2   2017-03-02  83.30
3   2017-03-03  82.46
4   2017-03-06  82.83
..         ...    ...
995 2021-02-19  52.37
996 2021-02-22  54.30
997 2021-02-23  55.05
998 2021-02-24  56.70
999 2021-02-25  55.76

[1000 rows x 2 columns]

In [161]:
sentINT.head() #preview

          DateTime  Daily News Sentiment
0   4/17/2000 0:00                  -0.1
1    8/1/2000 0:00                   0.2
2   1/24/2001 0:00                   0.2
3    4/4/2001 0:00                  -0.1
4  10/31/2002 0:00                  -0.5

In [162]:
sentINT.dtypes

DateTime                 object
Daily News Sentiment    float64
dtype: object

In [163]:
sentINT['DateTime'] = pd.to_datetime(sentINT['DateTime'])

In [164]:
sentINT.dtypes

DateTime                datetime64[ns]
Daily News Sentiment           float64
dtype: object

In [165]:
sentINT.sort_values(by='DateTime') #preview

      DateTime  Daily News Sentiment
0   2000-04-17                 -0.10
1   2000-08-01                  0.20
2   2001-01-24                  0.20
3   2001-04-04                 -0.10
4   2002-10-31                 -0.50
..         ...                   ...
390 2021-02-23                 -0.27
391 2021-02-24                 -0.10
392 2021-02-25                  0.00
393 2021-02-26                 -0.30
394 2021-02-27                 -0.10

[395 rows x 2 columns]

In [166]:
sentINT = sentINT.sort_values(by='DateTime') #make permanent

In [167]:
sentINT

      DateTime  Daily News Sentiment
0   2000-04-17                 -0.10
1   2000-08-01                  0.20
2   2001-01-24                  0.20
3   2001-04-04                 -0.10
4   2002-10-31                 -0.50
..         ...                   ...
390 2021-02-23                 -0.27
391 2021-02-24                 -0.10
392 2021-02-25                  0.00
393 2021-02-26                 -0.30
394 2021-02-27                 -0.10

[395 rows x 2 columns]

In [168]:
sentNA.head() #preview

         DateTime  Daily News Sentiment
0  7/26/2013 0:00                   0.1
1   8/1/2013 0:00                  -0.5
2   8/8/2013 0:00                   0.1
3   8/9/2013 0:00                   0.1
4  8/17/2013 0:00                   0.2

In [169]:
sentNA['DateTime'] = pd.to_datetime(sentNA['DateTime']) #perform same changes as on INT df
sentNA = sentNA.sort_values(by='DateTime')

In [170]:
sentNA #preview

      DateTime  Daily News Sentiment
0   2013-07-26                  0.10
1   2013-08-01                 -0.50
2   2013-08-08                  0.10
3   2013-08-09                  0.10
4   2013-08-17                  0.20
..         ...                   ...
391 2021-02-23                 -0.50
392 2021-02-24                 -0.50
393 2021-02-25                  0.07
394 2021-02-26                 -0.40
395 2021-02-27                 -0.60

[396 rows x 2 columns]

Need to join all 3 dfs together in order to run models predicting close price. (join on date)

In [171]:
exxon = exxon.set_index(keys='Date')
exxon

            Value
Date
2017-02-28  81.32
2017-03-01  83.02
2017-03-02  83.30
2017-03-03  82.46
2017-03-06  82.83
...           ...
2021-02-19  52.37
2021-02-22  54.30
2021-02-23  55.05
2021-02-24  56.70
2021-02-25  55.76

[1000 rows x 1 columns]

In [172]:
sentINT = sentINT.set_index(keys='DateTime')

In [173]:
sentINT #preview

            Daily News Sentiment
DateTime
2000-04-17                 -0.10
2000-08-01                  0.20
2001-01-24                  0.20
2001-04-04                 -0.10
2002-10-31                 -0.50
...                          ...
2021-02-23                 -0.27
2021-02-24                 -0.10
2021-02-25                  0.00
2021-02-26                 -0.30
2021-02-27                 -0.10

[395 rows x 1 columns]

In [174]:
sentNA = sentNA.set_index(keys='DateTime')
sentNA #preview

            Daily News Sentiment
DateTime
2013-07-26                  0.10
2013-08-01                 -0.50
2013-08-08                  0.10
2013-08-09                  0.10
2013-08-17                  0.20
...                          ...
2021-02-23                 -0.50
2021-02-24                 -0.50
2021-02-25                  0.07
2021-02-26                 -0.40
2021-02-27                 -0.60

[396 rows x 1 columns]

Dates are now set as indexes, making the join easier

In [175]:
all_sent = sentINT.join(sentNA, how='outer', lsuffix = '_INT', rsuffix = '_NA') #join both sentiment dfs

In [176]:
all_sent #preview

            Daily News Sentiment_INT  Daily News Sentiment_NA
DateTime
2000-04-17                     -0.10                      NaN
2000-08-01                      0.20                      NaN
2001-01-24                      0.20                      NaN
2001-04-04                     -0.10                      NaN
2002-10-31                     -0.50                      NaN
...                              ...                      ...
2021-02-23                     -0.27                    -0.50
2021-02-24                     -0.10                    -0.50
2021-02-25                      0.00                     0.07
2021-02-26                     -0.30                    -0.40
2021-02-27                     -0.10                    -0.60

[676 rows x 2 columns]

In [178]:
all_sent.isnull().sum()

Daily News Sentiment_INT    281
Daily News Sentiment_NA     280
dtype: int64

In [177]:
all_sent.tail(20)

            Daily News Sentiment_INT  Daily News Sentiment_NA
DateTime
2021-01-29                     -0.50                    -0.05
2021-01-30                      0.02                      NaN
2021-02-01                       NaN                    -0.23
2021-02-02                     -0.22                    -0.30
2021-02-03                     -0.15                    -0.18
2021-02-06                       NaN                     0.10
2021-02-09                     -0.27                      NaN
2021-02-10                      0.20                    -0.10
2021-02-12                     -0.10                      NaN
2021-02-14                     -0.20                     0.10
2021-02-16                     -0.20                      NaN
2021-02-17                     -0.10                      NaN
2021-02-18                     -0.25                      NaN
2021-02-20                     -0.15                      NaN
2021-02-21                     -0.20                      NaN
2021-02-23                     -0.27                    -0.50
2021-02-24                     -0.10                    -0.50
2021-02-25                      0.00                     0.07
2021-02-26                     -0.30                    -0.40
2021-02-27                     -0.10                    -0.60

In [182]:
df = exxon.join(all_sent)

In [183]:
df.isnull().sum()

Value                         0
Daily News Sentiment_INT    782
Daily News Sentiment_NA     780
dtype: int64

For simplicity in this first crude model, I will use "0" to fill the null values in news sentiment - it's not unreasonable to say that on days in which 'Exxon' did not appear in the news, sentiment towards it was neither positive nor negative, i.e. zero.

In [184]:
df.fillna(0, inplace=True)

In [187]:
df #preview

            Value  Daily News Sentiment_INT  Daily News Sentiment_NA
Date
2017-02-28  81.32                      0.00                     0.00
2017-03-01  83.02                      0.00                     0.00
2017-03-02  83.30                      0.00                    -0.20
2017-03-03  82.46                      0.00                     0.00
2017-03-06  82.83                     -0.20                    -0.20
...           ...                       ...                      ...
2021-02-19  52.37                      0.00                     0.00
2021-02-22  54.30                      0.00                     0.00
2021-02-23  55.05                     -0.27                    -0.50
2021-02-24  56.70                     -0.10                    -0.50
2021-02-25  55.76                      0.00                     0.07

[1000 rows x 3 columns]

In [188]:
df.to_csv('exxon_sentiment_clean.csv')